
<h2> Hi I'm Canaan </h2>

<p> Briefly I was a mechanical engineering student, I have a passion for the future of biotechnology, but decidedly not a passion for the biotech industry as it currently stands. So I've left that field where I was a scientist to pursue my dream of working with one of my favorite things to do and learn about which is all things programming/computer science/machine learning...I've been dreaming about robots and artificial intelligence since I might have been 5, and spend as much of my time as possible building projects around that </p>