@font-face {
    font-family: 'Menlo';
    src: 
        url('../fonts/Menlo-Regular.woff2') format('woff2'),
        url('../fonts/Menlo-Regular.woff') format('woff'),
        url('../fonts/Menlo-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FiraCode';
    src: url('../fonts/FiraCode-Regular.woff2') format('woff2'),
         url('../fonts/FiraCode-Bold.woff2') format('woff2');
}

@font-face {
    font-family: 'Courier-New';
    src: url('../fonts/courier-new-webfont.woff') format('woff');
         
}
body {
      background-color: white;
      color: black;
}
p, ul,ol {
        margin-bottom: 0.5em;
        color: black;
    }
pre, code {
        background:white;
    }
    
html {
    max-width: 90ch;
    padding: 1em;
    margin: auto;
    line-height: 1.75;
    font-size: 1.4em;
    font-family: 'Courier-New';
}

h1,h2,h3,h4,h5,h6 {
    margin: 0.02em 0 0.02em;
}
  
.post-meta {
    text-align: right;
}

img {
    max-width: 100%;
    margin: 0 auto;
    display: block;
}

blockquote {
    font-style: italic;
    border: thin solid black;
    padding: 1rem;
}

blockquote p {
    margin: 0;
}

pre {
    overflow-x: auto;
    padding: 1rem;
}


table { width: 100%; }

table, th, td {
  border: thin solid #010101;
  border-collapse: collapse;
  padding: 0.4rem;
}

.table-wrapper {
    overflow-x: auto;
}
a {
    text-decoration: none;
    color: black;
}
a :visited {
    color: gray;
}
.date {
    font-size: 0.5em;
    margin-top: 0px;
}
.post {
    margin-bottom: 0.5em;
}